{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/small-storage.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to storage</h1>
            <p>
                Some text just to be here and we can repeate it 1 times
                Some text just to be here and we can repeate it 2 times
                Some text just to be here and we can repeate it 3 times
                Some text just to be here and we can repeate it 4 times
            </p>
            <div class="row">
                <div class="col text-center">
                    <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", () => {
            // notifyModal("title", "<em>Hello, world!</em>", "success", "My Text for the button");
            const html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                <div class="row gx-3">
                    <div class="col">
                        <div class="row" id="reservation-dates-modal">
                            <div class="col">
                                <input type="text" name="start" id="start" class="form-control mb-3" disabled required placeholder="Arrival">
                            </div>
                            <div class="col">
                                <input type="text" name="end" id="end" class="form-control" disabled required placeholder="Departure">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            `

            attention.custom({ msg: html, title: "Choose your dates" });
        });
</script>
{{end}}